* {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
}

// inserting fonts start
@font-face {
    font-family: "sans-para";
    src: url(SourceSansPro-Regular.ttf)
}

@font-face {
    font-family: "sans-h1";
    src: url("SourceSansPro-Bold.ttf")
}
@font-face {
    font-family: "sans";
    src: url("SourceSansPro-Bold.ttf");
}

  
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 0;
    top: 0;
    right: 0;
    background-color: #1d809f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    line-height: 4.5;
    display: flex;
    justify-content: center;
}
  
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    top: -65px;
  }

  .bars {
    position: fixed;
    top: 15px;
    right: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    background-color: rgba(52, 58, 64, 0.5);
    width: 50px;
    height: 50px;
    line-height: 50px;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background-color: #212529;
}
        
// const navItems = document.querySelectorAll('#sidebar-wrapper ul li a');
// navItems.forEach(item => {
//     item.addEventListener('click', () => {
//         document.getElementById('sidebar-wrapper').classList.remove('active');
//     });
// });


.banner {
    background-image: url(img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 0;

}

.project-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-text {
    display: flex;
    text-align: center;
    justify-content: center;
}

.banner h1 {
    font-size: 88px;
    font-family: "sans-h1";
    color: #212529;
}

em {
    font-style: italic;
    font-family: "sans";
    color: #212529;
    font-size: 25px;

}

.banner a {
    border: 2px solid #1d809f;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #1d809f;
    color: white;
    text-decoration: none;
    font-family: "sans-para";
    margin-top: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px 0;

    h2 {
            font-size: 31px;
            color: #212529;
            font-weight: 700;
            line-height: 1.2;
            font-family: "sans";
        }
        .small-text{
                 color: #1d809f;
                 text-decoration: underline;
                 font-family: "sans-para";
        }

        p {
            font-size: 18.5px;
            color: #212529;
            font-family: "sans-para";
            margin-bottom: 50px;
        }

        a 
        {
            border-radius: 5px;
            padding: 15px 30px;
            background-color: #212529;
            color: white;
            text-decoration: none;
            font-family: "sans-para";
            font-size: 16px;
            margin-top: 34px;
        }

}


.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#0080A3;
    font-family: "sans";
    padding: 120px 0;


    h3 {
        line-height: 1.2;
    }
}
    .heading {
        position: relative;
        bottom: 50px;

    h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #ecb807;
    position: relative;
    top: 8px;
    }

    h2 {
        color: white;
        font-size: 48px;
    }
        
    }

.img {
        background-color: white;
        border-radius: 50%;
        height: 105px;
        width: 105px;
    }

.flex-container{

    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    
    .flex-box {
        text-align: center;
        width: 250px;
        height: 80px;
        color: white;
       
    
        h3 {
            font-family: "sans";
            font-size: 24px;
            font-weight: bolder;
            margin-top: 50px;
        }
        p{
            font-size: 16px;
            line-height: 2;
            color: #ffffffb3;
            font-family: "sans-para";
        }
    }
}

.services i {
    height: 112px;
    width: 112px;
    padding: 27px;
    border-radius: 50%;
    background-color: #fff;
    color: #0080A3;
    font-size: 30px;
    margin-bottom: 20px;
}



.blog {
    background-image: url(img/bg-callout.jpg);
    height: 80vh;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "sans";
}


.blog h2 {
    font-size: 40px;
    color: #212529;
    line-height: 1.2;
    margin-bottom: 25px;
}
.blog p {
    margin: 10px;
}
.blog a {
    border: 2px solid #1d809f;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #1d809f;
    color: white;
    text-decoration: none;
    font-family: "sans-para";
}
.span1 {
  display: flex;
  justify-content: center;
}

.portfolio {
    padding: 50px 0;
}

.text-heading {
    position: relative;
    top: 50px;
    h3 {
        font-size: 16px;
        font-family: "sans-h1";
        text-transform: uppercase;
        color: #ecb807;
        position: relative;
        top: 8px;
    }
    h2 {
        font-size: 48px;
        font-family: "sans-h1";
    }
}
.container {
    padding: 100px 0;
}
.text-inside {
    position: absolute;
    color: white;
    margin-top: 15%;
    margin-left: 80px;

    h2 {
        font-size: 20px;
        font-family: "sans-h1";
        margin-top: 20px;
    }
    p {
        font-size: 18px;
        font-family: "sans-para";
    }
}

.img-fluid {
        max-width: 100%;
        height: 275px;
    }
.qta {
    align-items: center;
    background-color:#1d809f;
    padding: 120px 0;

    h3 {
        justify-content: center;
        margin-bottom: 24px;
        color: white;
        font-size: 30px;
        font-family: "sans";
    }


}

.btn-1 {
    background-color: #f1f1f1;
    text-decoration: none;
    padding: 15px 30px;
    color: #000;
    font-family: "sans-para";
    border-radius: 5px;
    margin: 0px 24px 0px 0px;
}

.btn-2 {
    background-color: #000;
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    font-family: "sans-para";
    border-radius: 5px;
}
.maps {
    height: 480px;
    background-image: url(IMG-20240423-WA0011.jpg);
}


.footer {
    padding: 80px 0;
    

    .footer-inside{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 30px;
    }
    

    i {
        padding: 21px;
        color: white;
        background-color: #1d809f;
        border-radius: 50%;
        display: block;
        font-size: 24px;
        margin-right: 25px;
        height: 64px;
        width: 64px;
    }
    .para-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-family: "sans-para";
        color: #6c757d;
        position: relative;
        top: 30px;
        right: 9px;
    }
    
}


.img2 {
    background-color:#1d809f;
    border-radius: 50%;
    padding: 40px;
}

@media only screen and (max-width:576px) {

    .text-inside {
        margin-top: 30%;
    }

    .blog {
        height: 65vh;
    }
    .qta h3 {
        font-size: 20px;
    }
    .text-inside {
        margin-left: 38px;
    }
    .img-fluid {
        margin-bottom: 18px;
    }
    .footer {
        padding: 40px 0;
    }
    .banner {
        height: 80vh;
        background-position-x: -110px;
    }
    .banner a {
        padding: 10px 15px;
        margin-top: 10px;
    }
    .banner h1 {
        font-size: 30px;
    }
    em {
        font-size: 15px;
    }

    .port1 {
        font-size: 30px;
    }
    .heading h3 {
        font-size: 14px;
        margin-top: 50px;
    }
    .heading h2 {
        font-size: 24px;
    }
    .flex-box h3 {
        font-size: 20px;
    }
    .flex-container .flex-box p {
        font-size: 14px;
    }

    .footer .footer-inside {
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .footer p {
        position: relative;
        top: 30px;
        left: 2px;
    }

.portfolio {
    padding: 10px;
}
.text-heading h2 {
    font-size: 30px;
}
.text-heading h3 {
    font-size: 14px;
}
.text-inside h2 {
    font-size: 16px;
}
.text-inside p {
    font-size: 13px;
}

    .btn-1 {
        padding: 10px 15px;
        
    }

    .btn-2 {
        padding: 10px 15px; 
    }

    .flex-container .flex-box h3 {
        font-size: 18px;
    }

    .blog a {
    padding: 10px 15px;
    }
    .blog h2 {
        font-size: 30px;
    }

    .services {
        padding: 90px 0px 0px 0px;
    }
    .services .serv1 {
        font-size: 30px;
    }

    .about h2 {
        font-size:17px;
    }
    .about p {
        font-size:12px;
        color: #212529;
        font-family: "sans-para";
    }
    .about a {
        padding: 10px 15px;
    }

    .flex-container .flex-box {
        text-align: center;
        height: 30vh;
        color: white;
    }
        .flex-container {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (min-width: 577px) and (max-width: 768px) {

    .flex-container .flex-box p {
        font-size: 16px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.7019607843);
        font-family: "sans-para";
    }

    .services i {
        padding: 25px;
    }

    .blog {
        height: 65vh;
    }
    .flex-container .flex-box {
        text-align: center;
        width: 190px;
        height: 80px;
        color: white;
    }
    .banner {
        height: 70vh;  
    }
    .about h2 {
        font-size: 25px;
    }
    .about p {
        font-size: 15px;
    }
    .services .serv1 {
        font-size: 35px;
    }

    .port1 {
        font-size: 35px;
    }

    .h5p1 p {
        margin-bottom: 30px;
    }

    .h5p3 p {
        margin-bottom: 30px;
    }
    .text-inside {
        margin-top: 34%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
    .banner {
        height: 70vh;
    }
    .blog {
        height: 60vh;
    }
}